<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kỷ niệm 135 năm</title>
  <link rel="stylesheet" href="../css/header_1.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header fade-in">
    <div class="header-container">
      <img src="../images/logo.avif" class="logo" alt="Logo" />
      <div class="text-section">
        <p class="cau">Kỷ niệm 135 năm ngày sinh CHỦ TỊCH HỒ CHÍ MINH</p>
        <p class="slogan">19/5/1890 – 19/5/2025</p>
      </div>
      <img src="../images/logo_3.png" class="logo2" alt="Logo" />
    </div>
  </div>
</body>
</html>
