<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header Trang</title>
  <link rel="stylesheet" href="../css/header_50.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header fade-in">
    <div class="header-container">
      <img src="../images/logo.png" class="logo" alt="Logo">
      <div class="text-section">
        <p class="cau">Dấu ấn 50 năm Giải phóng miền Nam, thống nhất đất nước</p>
        <p class="slogan">30/4/1975 – 30/4/2025</p>
      </div>
      <img src="../images/logo2.png" class="logo2" alt="Logo">
    </div>
  </div>
</body>
</html>
