<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header Trang</title>
  <link rel="stylesheet" href="../css/header_50_2.css">
</head>
<body>
  <div class="header">
    <div class="header-container">
      <img src="../images/logo.png" class="logo" alt="Logo">

      <div class="text-section">
        <p class="cau">
          "Chúng ta không thể viết lại lịch sử, nhưng chúng ta có thể hoạch định lại tương lai. 
          <br>Quá khứ là để ghi nhớ, để tri ân và để rút ra bài học. 
          <br>Tương lai là để cùng nhau xây dựng kiến tạo và phát triển."
        </p>
        <p class="tacGia">Tổng Bí thư Tô Lâm</p>
      </div>
    </div>
  </div>
</body>
</html>
